body .order-button {
  text-align: center;
}
body .order-button a {
  position: absolute;
  top: 50%;
}
body #modal1 .modal-content {
  text-align: center;
}
body #modal1 .modal-content p {
  width: 100%;
}
body #modal1 .modal-content p img {
  max-width: 100%;
  max-height: 100%;
}
body #chatroom .chatroom-content {
  width: 100%;
  padding: 20px;
}
body #chatroom .chatroom-content .userinfo {
  padding: 0 20px;
}
body #chatroom .chatroom-content .userinfo img {
  float: left;
  padding: 0 20px;
  height: 30px;
  border-radius: 100%;
}
body #chatroom .chatroom-content .userinfo p {
  height: 30px;
  font-size: 15px;
  padding: 3px 0;
}
body #chatroom .chatroom-content .usertext {
  padding: 0 80px;
}
body #chatroom .chatroom-sendmessage {
  width: 100%;
  padding: 20px;
}
body #chatroom .chatroom-sendmessage input {
  float: left;
}
body #chatroom .chatroom-sendmessage button {
  width: 10%;
}
body #chatroomOverview .chatroomOverview-content {
  padding-left: 30%;
  padding-right: 30%;
}
body #registration .registration-content {
  padding-left: 30%;
  padding-right: 30%;
}
body #login .login-content {
  padding-left: 30%;
  padding-right: 30%;
}
body #ssing {
  background-color: black;
  position: absolute;
  height: 100%;
}
body #ssing .logo img {
  border-radius: 50%;
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
body #ssing .buttons {
  border: 50px;
  padding: 20px 0;
}
body #ssing .bottom {
  font-family: "Trirong", serif;
  text-align: center;
  text-align-last: center;
  color: blue;
}
body #menu {
  background-color: floralwhite;
  position: absolute;
  height: 100%;
}
body #menu .logo img {
  border-radius: 10%;
  max-width: 80%;
  height: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
body #menu .greeting {
  font-family: 'Times New Roman', serif;
  text-align: center;
  text-align-last: center;
}
body #menu .container {
  display: flex;
  flex-flow: column;
  height: 100%;
  width: 100%;
}
body #menu .logo {
  flex: 0 1 auto;
}
body #menu .half1 {
  flex: 1 1 auto;
  background-color: black;
}
body #menu .half1 .splitup {
  height: 50px;
  position: relative;
  top: 35%;
  left: 25%;
  right: 25%;
}
body #menu .half1 .splitup a {
  background-color: #f48218;
}
body #menu .half2 {
  flex: 1 1 auto;
  background-color: #f48218;
}
body #menu .half2 .splitdown {
  height: 50px;
  position: relative;
  top: 35%;
  left: 25%;
  right: 25%;
}
body #menu .half2 .splitdown a {
  background-color: #000000;
}
body #order-page {
  background-color: whitesmoke;
  position: absolute;
  height: 100%;
}
body #order-page .logo img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  position: absolute;
}
body #order-page .text {
  font-family: "Trirong", serif;
  text-align: center;
  text-align-last: center;
  color: black;
}
body #order-page .text .Big {
  text-shadow: 2px 2px 5px darkorange;
}
body #order-page .text a {
  background-color: #f48218;
}
body #login {
  background-color: #f48218;
  position: absolute;
  height: 100%;
}
body #login {
  height: 20%;
  position: absolute;
  text-align-all: center;
}
body #login img {
  padding: 10%;
  border-radius: 30px;
}
body #login h3 {
  font-family: "Courier New", monospace;
  text-shadow: 1px 1px 0 #444;
  font-weight: bold;
}
body #login a {
  background-color: #f48218;
}
body #login .register {
  background-color: floralwhite;
  color: black;
}
body #registration {
  background-color: #f48218;
  position: absolute;
  height: 100%;
}
body #registration {
  height: 20%;
  position: absolute;
  text-align-all: center;
}
body #registration img {
  padding: 10%;
  border-radius: 30px;
}
body #registration h5 {
  font-family: "Georgia", Serif;
  width: 100%;
}
body #registration a {
  background-color: #f48218;
}
body #registration .register {
  background-color: floralwhite;
  color: black;
}
body #chatroomOverview {
  background-color: #231f20;
  position: absolute;
  height: 100%;
  width: 100%;
}
body #chatroomOverview .chatroomOverview-content {
  text-overline-color: orange ;
}
body #chatroomOverview .chatroomOverview-content thead {
  color: white;
  border-bottom: 1px solid #ddd;
}
body #chatroomOverview .chatroomOverview-content thead tr {
  width: 1%;
}
body #chatroomOverview .chatroomOverview-content thead tr {
  display: compact;
  color: white;
  width: 1%;
  white-space: nowrap;
}
body #chatroomOverview .chatroomOverview-content tbody td button {
  background-color: #f48218;
}
body #chatroomOverview .chatroomOverview-content tbody tr {
  display: compact;
  color: white;
  width: 1%;
  white-space: nowrap;
}
/*# sourceMappingURL=index.css.map */