<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="less/index.css">
    <title>Chatroom</title>
</head>
<body>
<main id="chatroom">
    <div class="chatroom-content">
        <div class="userinfo">
            <img src="images/profile.png">
            <p>Name</p>
        </div>
        <div class="usertext">
            <p>This is the written text</p>
        </div>
        <hr>
    </div>
    <div class="chatroom-content">
        <div class="userinfo">
            <img src="images/profile.png">
            <p>Name</p>
        </div>
        <div class="usertext">
            <p>This is the written text</p>
        </div>
        <hr>
    </div>
    <div class="chatroom-content">
        <div class="userinfo">
            <img src="images/profile.png">
            <p>Name</p>
        </div>
        <div class="usertext">
            <p>This is the written text</p>
        </div>
        <hr>
    </div>
    <div class="chatroom-sendmessage">
        <input type="text"/>
        <button class="btn waves-effect waves-light" type="submit" name="action">Submit
            <i class="material-icons right"></i>
        </button>
    </div>
</main>
</body>
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</html>