<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="less/index.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Chatroom</title>
</head>
<body>
<main id="chatroom">
    <div class="chatroom-content">
        <div class="chatroom-name">
            <p th:utext="'You are talking in ' + ${roomname}"></p>
        </div>
        <div class="userinfo">
            <img src="/images/profile.png">
            <p>Name</p>
        </div>
        <div class="usertext">
            <p>This is the written text</p>
        </div>
        <hr>
    </div>
    <div class="chatroom-content">
        <div class="userinfo">
            <img src="/images/profile.png">
            <p>Name</p>
        </div>
        <div class="usertext">
            <p>This is the written text</p>
        </div>
        <hr>
    </div>
    <div class="chatroom-content">
        <div class="userinfo">
            <img src="/images/profile.png">
            <p>Name</p>
        </div>
        <div class="usertext">
            <p>This is the written text</p>
        </div>
        <hr>
    </div>
    <div class="chatroom-sendmessage">
        <input type="text" id="text-input"/>
        <button class="btn waves-effect waves-light" type="submit" name="action" onclick="send()">Submit
            <i class="material-icons right"></i>
        </button>
    </div>
</main>
</body>
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</html>
