<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="less/index.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Choose your chatroom</title>
</head>
<body>
<main id="chatroomOverview">
    <div class="chatroomOverview-content">
        <h1></h1>
        <img class="responsive-img centre-align" src="images/sixt.png">
        <h1></h1>
        <table>
            <thead>
            <tr>
                <th>Topic</th>
                <th>Join Room</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="room : ${rooms}">
                <td th:text="${room.getName()}">&nbsp;</td>
                <td><a th:href="${room.getLink()}">
                    <button class="btn waves-effect waves-light" type="submit" name="action">Join</button>
                </a></td>
            </tr>
            </tbody>
        </table>
    </div>
</main>
</body>
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</html>
