<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="less/index.css">
    <title>Get a car!</title>
</head>
<body>
<main id="order-page">
    <div class="homepage">
        <div class="logo">
            <img class="responsive-img centre-align" src="images/sixtblack.png" >
        </div>
        <div class="taxi">
            <img class="responsive-img centre-align" src="images/robotaxi.jpeg">
        </div>
        <div class="text">
            <h1 class="Big">ROBOTAXI</h1>
            <h4 class="Smaller">Order your taxi now!</h4>
            <h1></h1>
            <a class="waves-effect waves-light btn-large modal-trigger" href="#modal1" th:onclick="|window.location.href='/getQrCode'|">Order</a>
        </div>
    </div>

<!-- Modal Structure -->
<div id="modal1" class="modal modal-fixed-footer">
    <div class="modal-content">
        <h4>Identify yourself!</h4>
        <p><img src="images/qrcode_www.in.tum.de.png" /></p>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cancel</a>
    </div>
</div>
</main>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script>
    $(document).ready(function(){
        $('.modal').modal();
    });
</script>
</html>