<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="less/index.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>
</head>
<body>
<main id="login">
    <div class="login-content">

        <h3>Welcome</h3>
        <img class="responsive-img centre-align" src="images/login.png">

        <label for="uname">Username:</label>
        <input type="text" id="uname" name="uname">

        <label for="pass">Password:</label>
        <input type="text" id="pass" name="pass">

        <a class="waves-effect waves-light btn-large">Login</a>
        <p></p>
        <p><a class="register" href="Registration.html">No account yet? Register here!</a></p>

    </div>
</main>
</body>
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</html>
