<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <title>Title</title>
</head>
<body>

    <h3 class="center-align"> <u> Have a nice ride :)</u></h3>
    <div>
        <a class="btn-large indigo" onclick="geolocation()">Sightseeing</a>
    </div>
    <p></p>
    <div>
        <a href="/chatroomOverview" class="btn-large indigo">Chatroom</a>
    </div>


</body>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="js/geolocation.js"></script>
</html>