<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Sightseeing</title>
</head>
<body>

    <div class="row">
        <div class="col s12 m6">
            <div class="card">
                <div class="card-image">
                    <img src="images/odeonsplatz.jpg">
                    <span class="card-title">Card Title</span>
                    <p>
                        <a class="btn-floating  waves-effect waves-light orange left-centered" ><i class="material-icons">arrow_back</i></a>
                        <a class=" btn-floating  waves-effect waves-light orange right-centered"><i class="material-icons">arrow_forward</i></a>
                    </p>


                </div>
                <div class="card-content">
                    <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                </div>
                <div class="card-action">
                    <p class="center-align">
                        <a href="#">Link to article</a>
                    </p>
                </div>
            </div>
        </div>
    </div>


</body>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</html>