body {
  .order-button {
    text-align: center;

    a {
      position: absolute;
      top: 50%;
    }
  }
  #modal1 {
    .modal-content {
      text-align: center;

      p {
        width: 100%;

        img {
          max-width: 100%;
          max-height: 100%;
        }
      }
    }
  }

  #chatroom {
    .chatroom-content {
      width: 100%;
      padding: 20px;
      .userinfo {
        padding: 0 20px;
        img {
          float: left;
          padding: 0 20px;
          height: 30px;
          border-radius: 100%;
        }
        p {
          height: 30px;
          font-size: 15px;
          padding: 3px 0;
        }
      }
      .usertext {
        padding: 0 80px;
      }
    }

    .chatroom-sendmessage {
      width: 100%;
      padding: 20px;
      input {
        float: left;
      }
      button {
        width: 10%;
      }
    }
  }

  #chatroomOverview {
    .chatroomOverview-content {
      padding-left: 30%;
      padding-right: 30%;
    }
  }

  #registration {
    .registration-content {
      padding-left: 30%;
      padding-right: 30%;
    }
  }

  #login {
    .login-content {
      padding-left: 30%;
      padding-right: 30%;
    }
  }
}
